header{
    max-width: 66rem;
    margin: auto; 
    overflow: hidden;
}
@media only screen and (max-width: 550px) { 
  img.header-thing { 
    display: none; 
  } 
}
h1{
    width: 100%;
    font-family: "Dongle", sans-serif;
    line-height: 0.5;
    font-size: 6.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding-left: -1rem;
    margin-left: 0;
}
h1 a:hover{
    text-decoration: none;
}
h3{
    margin-top: 0;
    padding-left: 0.5rem;
    font-family: "IBM Plex Mono", serif;
    font-size: 1.2rem;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B321B;
}
header nav ul li {
  float: left;
  border: #0B321B;
  border-radius: 25%;
  border-color: #0B321B;
}

header nav ul li a:link {
  color: white;
  display: block;
  text-align: center;
  padding: 0.75em;
  text-decoration: none;
}

header nav ul li a:visited {
    color:white;
}

header nav ul li a:hover {
  background-color: #166435;
}

header nav ul li a.active {
    background-color: #166435;
}