main{
    background-color: white;
    margin: auto;
    max-width: 66rem;
}
@media only screen and (max-width: 550px) { 
  main { 
    margin-left: 1rem;
    margin-right: 1rem; 
  }
} 
table{
    width: 100%;
}
td{
    text-align: left;
}