---
layout: "layouts/page.njk"
title: "Music"
bodyClass: "page"
---
<nav><h4><a href="#originalCompositions">Compositions</a> | <a href="#audioEngineering">Engineering</a> | <a href="#arranging">Arranging</a></h4></nav>
<h4 id="originalCompositions">Original Compositions</h4>
<table>
    {% for item in portfolio.compositions %}
    <tr>
        <td>
            {{item.content | safe }}
        </td>
        <td>
            <h5>{{item.title | safe }}</h5>
            {{item.description | safe }}
        </td>
    </tr>
    {% endfor %}
</table>

<h4 id="audioEngineering">Audio Engineering</h4>
<table>
    {% for item in portfolio.engineering %}
    <tr>
        <td>
        {{item.content | safe }}
        </td>
        <td>
        <h5>{{item.title | safe }}</h5>
            {{item.description | safe }}
        </td>
    </tr>
    {% endfor %}
</table>
<h4 id="arranging">Arranging</h4>
<table>
    {% for item in portfolio.arranging %}
    <tr>
        <td>
            {{item.content | safe }}
        </td>
        <td>
            <h5>{{item.title | safe }}</h5>
            {{item.description | safe }}
        </td>
    </tr>
    {% endfor %}
</table>