<!DOCTYPE html>
<html lang="en-US">
	<head>
        <link rel="stylesheet" href="{{ stylesheet }}{{ nocache }}" />
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }} | Daniel Lazzaretto</title>
	</head>
	<body class="{{ bodyClass }}">
        {% block content %}
        Lorem ipsum
        {% endblock %}
	</body>
</html>