---
stylesheet: "/bundle.css"
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="flex-wrapper">
    <div class="content-width">
        <header>{% include "partials/header.njk" %}</header>
        <main tabindex="-1" id="main-content"><h2>{{ title }}</h2>{{ content | safe }}</main>
    </div>    
    <footer>{% include "partials/footer.njk" %}</footer>
</div>
{% endblock %}