<hr>
<p>
    <a href="mailto:lazzaretto.daniel@gmail.com">lazzaretto.daniel@gmail.com</a><br>
    Powered by <a href="https://nekoweb.org/">Nekoweb!</a><br>
    <a href="https://github.com/BillNyeTheFrogGuy/website">Source</a><br>
    No A.I. used.<br>
<a href="/lisences">CC BY 4.0 or MIT</a></p>