<img class="header-thing" src="../images/header.svg" style="max-height:7.5rem;margin-left: 0;padding-right: 0.75em;float: left;">
<h1><a href="/">Daniel Lazzaretto</a></h1>
<h3>instrumentalist | audio engineer | composer</h3>
<nav>
<ul>
    <li><a {{ "class=active" if "Home" in title }} href="/">Home</a></li>
    <li><a {{ "class=active" if "About" in title }} href="/about">About</a></li>
    <li><a {{ "class=active" if "Music" in title }} href="/music">Music</a></li>
    <li><a {{ "class=active" if "Calendar" in title }} href="/calendar">Calendar</a></li>
    <li><a {{ "class=active" if "Contact" in title }} href="/contact">Contact</a></li>
</ul>
</nav>
<hr class="transparent">