footer{
    //width: 100vw;
    color: #0B321B;
    background-color: #FFF5EB;
    margin-top: auto;
    text-align: center;
    font-size: smaller;
    font-family: "IBM Plex Mono", serif;
    border-top-style: double;
    border-color: #0B321B;
}

footer hr {
    padding-top: 0;
    margin-top: 0;
}

a:link{
    color: #166435;

}

a:visited{
    color: #166435;

}